# idea
/frontend/.idea
/backend/.idea

.idea
build

# dependencies
/frontend/node_modules
/backend/node_modules

/frontend/build
/backend/build

/frontend/dist
/backend/dist

/frontend/users.json
/frontend/messages.json
